<!DOCTYPE html>
<html>
	<head>
		<title>.christina {rubino}</title>
		<link type="text/css" rel="stylesheet" href="main.css">
		<link type="text/css" rel="stylesheet" href="nav.css">
		<link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700' rel='stylesheet' type='text/css'>
		<link charset="UTF-8">
	</head>
	<body>
	<div id="wrapper">
			<header>
				<div id="head" class="zbottom">
					<h1 class="center">.christina {rubino}</h1>
					<%="IM A RUBY STRING NAH NAH NAH" %>
				</div>
			</header>
			<nav>
				<div id="mainnav">
					<ul>
						<li><a class="selected" href="index.html">HOME</a></li>
						<li><a href="about.html">ABOUT</a></li>
						<li><a href="portfolio.html" target="_blank">PORTFOLIO</a></li>
						<li><a href="contact.html">CONTACT</a></li>
						<li><a href="http://www.christinarubino.com" target="_blank">MUSIC</a></li>
					</ul>
				</div>
			</nav>
			<div id="socialmedia">
				<ul>
					<li><a href="http://www.twitter.com/xtinarubino"><img src="img/twitter_icon.png"></a></li>
					<li><a href="http://www.facebook.com/xtinarubino"><img src="img/facebook_icon.png"></a></li>
					<li><a href="https://www.youtube.com/user/MsXtina666?feature=watch"><img src="img/youtube_icon.png"></a></li>
				</ul>
			</div>
			
			<div class="container sidecol">
				<h3>Things I Support</h3>
				<h4>Jail Guitar Doors</h4><p>An amazing organization bringing instruments and music lessons to inmates, teaching them more positive ways to deal with their emotions. Click <a href="http://www.jailguitardoors.org">here</a> to check them out.</p>
				<h4>Chattanooga Food Bank</h4><p>Hunger strikes in America, often....and I love the music of TN, so I do what I can to keep hunger from the heart of America. Check out the Chattanooga Food Bank by clicking <a href="http://www.chattfoodbank.org/">here.</a></p>
				<h4>St. Jude Children's Research Hospital</h4><p>These little guys deserve the best, and my family has supported St. Jude Children's research hospital for as long as I remember. I continue the tradition, and hope that you will too! Click <a href="http://www.stjude.org/stjude/v/index.jsp?vgnextoid=f87d4c2a71fca210VgnVCM1000001e0215acRCRD">here </a> to connect with St. Jude and become a supporter!</p>
			</div>
			<div class="container maincol">
				<p class="quote1">"</p><p class="quoted">This world is but a canvas to our imagination.</p><p class="quote2">"</p><p class="quotee">-Henry David Thoreau</p>
				<a href="contact.html" class="btn" id="btntopoffset" style="margin-left:150px">Hire me now!</a>
			</div>
			<div class="container sidecol">
				<div class="infocol">
					<p>Welcome to my little website to help me practice HTML and CSS. In order to not waste time coming up with content, I will put a bunch of dolar ipsum stuff in this box. I would likely come up with something a bit more clever under different circumstances for this column. I am just happy that I can make a column and not have it wreck the page. </p>
					<p>Nulla erit controversia. Eadem nunc mea adversum te oratio est. Saepe ab Aristotele, a Theophrasto mirabiliter est laudata per se ipsa rerum scientia; Erit enim instructus ad mortem contemnendam, ad exilium, ad ipsum etiam dolorem. Dat enim intervalla et relaxat. Praeterea sublata cognitione et scientia tollitur omnis ratio et vitae degendae et rerum gerendarum. </p>
					
				</div>
			</div>
 		
 		<footer>
 			<div id="footer"><p>&copy 2014 Christina Rubino</p><p>Email me @ <a href="mailto:Xtina.rubino.music@gmail.com" target="_top">Xtina.Rubino.Music@gmail.com</a></p>
 			</div> 
 		</footer>

	</div>

	</body>
</html>
