<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>


<b>Welcome</b>
<h1> LITERALLY ANYTHING!!! <h1>
	<p> SERIOUSLY LITERALLY ANYTHING! AND ILL BE STYLED BY THE CSS PAGE IN THE PUBLIC FOLDER. YEA!<p>
<%= yield %>

</body>

</html>